body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.quiz-container {
    background: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

button {
    margin: 10px;
    padding: 8px 15px;
}
